.top {
  box-sizing: border-box;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $base-margin * 2;
  padding-top: $base-margin;
  padding-left: 15px;
  padding-right: 15px;

  &__heading {
    font-size: type-scale(0);
    font-family: $font-family-serif;
  }
}